*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.header{
    height: 100px;
    width: 100%;
    background-color: aqua;
    position: fixed;
    top: 0;
    border: 2px solid black;
}
.footer{
    height: 100px;
    width: 100%;
    background-color: fuchsia;
    position: fixed;
    bottom: 0;
}
p{
    min-height: 90px;
    padding-top: 8%;
    border: 2px solid black;
}